doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Temporary no index from search engines
    meta(name='robots', content='noindex')
    // Google Analytics - not tracking uniquely identifiable info
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-171025406-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-171025406-1');
  body
    header 
      h1= title
    block content
    block footer
      hr
      ul
        unless path === '/'
          li
            a(href="/") Home
        li
          a(href="/about/") About
        li
          a(href="/get-voter-registration-status/") Am I registered?
        li
          a(href="/get-mail-in-ballot-status/") Get mail-in ballot status
        li
          a(href="/share/") Tell your friends
