extends layout

block content
  h2 What you need to know
  ul.instructions
    li One thing you should know before you continue
    li Another thing you should know
  p
    a(href="/get-reminder")
      h3 Continue
  p
    a(href="/change-location") Change location
