// Temporary values
$color: black
$color-emphasis: #E4001B
$color-secondary: #6194BC
$color-tersiary: #A5D1F3
$background: #ECECEC
$font: "San Francisco", Helvetica, Arial, sans-serif

html, body
  width: 100%
  height: 100%
  display: block
  position: relative
  margin: 0

body
  font: 16px $font
  color: $color
  background-color: $background

header, section
  padding: 2em
section
  background-color: white

a, a:visited
  color: $color-secondary
  &:hover
    color: $color-emphasis

footer
  padding: 2em
  ul
    margin: 0
    padding: 0
    li
      display: inline-block
      margin-right: 1em
