extends layout

block content
  h2 Fighting for your values can be hard. The process of voting should be simple. 
  p 
    | We give clear dates, direct links to official sites, and calendar reminders relevant to your zip code (down to the county) to help you feel in control of your vote. 
    a(href="/data/") Data 
    | is fact-checked weekly.
  h3 Who we are 
  p We are a group of civic-minded friends who started this website because voting by mail is too damn confusing. We’re product managers, designers, and engineers who volunteered hoping to be helpful. We are not a nonprofit nor do we work in government.
  h3 Contributors 
  ul
    li 
      a(href="https://www.linkedin.com/in/nategk") Nate Kerksick
      span.small
        |  · 
        a(href="https://twitter.com/natesayer") @natesayer 
    li 
      a(href="https://www.linkedin.com/in/isabeltewes") Isabel Tewes
      span.small
        |  · 
        a(href="https://twitter.com/isabeltewes") @isabeltewes
    li 
      a(href="https://www.linkedin.com/in/zacwitte") Zac Witte
      span.small
        |  · 
        a(href="https://twitter.com/zacwitte") @zacwitte
    li 
      a(href="https://www.linkedin.com/in/mikisetlur") Miki Setlur
      span.small
        |  · 
        a(href="https://twitter.com/mikisetlur") @mikisetlur
    li 
      a(href="https://www.linkedin.com/in/gopikaprabhu") Gopika Setlur
      span.small
        |  · 
        a(href="https://twitter.com/gopicreative") @gopicreative
  p Heartfelt gratitude to Stine Dahlberg, Colette Kessler, and Debra Cleaver for close partnership. 
  h3 Join us 
  p 
    | We’re seeking volunteers in each state to help us validate and keep our data updated, and partnerships with orgs and individuals for outreach. Message  
    a(href="https://twitter.com/messages/compose?recipient_id=1289659075601420290") @postyourvote 
    |  on Twitter.
