extends layout

block content
  h2 Fighting for your values is hard. The voting process should be simple. 
  p 
    | We give clear dates, direct links to official sites, and calendar reminders relevant to your zip code (to the county where relevant) to help you feel in control of your vote. 
    a(href="/data/") Data 
    | is fact-checked weekly.
  h3 Who we are 
  p We are a group of civic-minded friends who started this website because voting by mail is too damn confusing. Were product managers, designers, and engineers who volunteered nights & weekends. We are not a nonprofit nor do we work in government.
  ul
    li 
      a(href="https://www.linkedin.com/in/nategk") Nate Kerksick
      span.small
        |  路
        a(href="https://twitter.com/natesayer") @natesayer 
    li 
      a(href="https://www.linkedin.com/in/isabeltewes") Isabel Tewes
      span.small
        |  路
        a(href="https://twitter.com/isabeltewes") @isabeltewes
    li 
      a(href="https://www.linkedin.com/in/zacwitte") Zac Witte
      span.small
        |  路
        a(href="https://twitter.com/zacwitte") @zacwitte
    li 
      a(href="https://www.linkedin.com/in/mikisetlur") Miki Setlur
      span.small
        |  路
        a(href="https://twitter.com/mikisetlur") @mikisetlur
    li 
      a(href="https://www.linkedin.com/in/gopikaprabhu") Gopika Setlur
      span.small
        |  路
        a(href="https://twitter.com/gopicreative") @gopicreative
  p
    small Special thanks to Stine Dahlberg, Colette Kessler, and Debra Cleaver for ongoing feedback.
  h3 You can help 
  p 
    | Were seeking volunteers in each state to help us validate and keep our data updated, and partnerships with orgs and individuals for outreach. Message  
    a(href="https://twitter.com/messages/compose?recipient_id=1289659075601420290") @postyourvote 
    |  on Twitter.
  h4 Follow & share 
  ul.no-bullets
    li
      a.twitter-follow-button(href='https://twitter.com/postyourvote' target="_share")
        svg.feather.icon-left
          use(xlink:href='/assets/feather-sprite.svg#twitter')
        span Twitter
    li
      a.twitter-follow-button(href='https://www.instagram.com/postyour.vote/' target="_share")
        svg.feather.icon-left
          use(xlink:href='/assets/feather-sprite.svg#instagram')
        span Instagram
