extends layout

block content
  h2 About Vote Remote 2020
  p We wanted to make it easier for anyone to request a mail in ballot
  ul.value-props
    li We’re not collecting your info
    li More than ever, voting by mail is an important right for every voter
    li We just want to help you vote
