extends layout

block content
  h2 Post Your Vote helps you feel in control of the mail-in voting process.
  p 
    | We give you clear facts, dates, and links, so the whole thing is easier. 
    a(href="/data/") Data 
    | is fact-checked and updated on a weekly basis.
  h3 Who we are 
  p We are a group of civic-minded friends who started this website because voting by mail is too damn confusing and we want to help. We are Product Managers, Designers, and Engineers who volunteered our time hoping to be helpful. We are not a nonprofit nor do we work in government.
  h3 Contributors 
  ul
    li Nate Kerksick
    li Isabel Tewes
    li Zac Witte
    li Miki Setlur
    li Gopika Setlur
  h3 Be part of our fact checking team 
  p 
    | Slide into our DMs 
    a(href="https://twitter.com/messages/compose?recipient_id=1289659075601420290") @postyourvote 
    | on Twitter
