extends layout

block append header
  - var flowStep = "location" // location · requirements · reminder · request
  include components/flow-progress.pug

block content
  if error
    p(class="error")= error

  h2 Enter your home zip code
  p This is the only thing we will ask you
  include components/location-input.pug
