extends layout

block content
  h3 Databases
  ul
    li Most of our data is sourced from the #[a(href='https://docs.voteamerica.com/api/') VoteAmerica Election API]. VoteAmerica is a nonprofit organization providing access to trusted election information.
    li We maintain an #[a(href='https://airtable.com/invite/l?inviteId=invOvJEQEAhZV646w&inviteToken=5826433648becba241ae4463becce0c0798baab7896e9c8bdb5628fa55be6a1d') independent Airtable dataset] that includes our “best guess” dates for when to expect to ballots in the mail, along with county-specific rules in states where they matter. We’re doing our best to provide you with the most accurate and localized information possible.
  #airtable-embed
    h4 Preview
    iframe(src='https://airtable.com/embed/shrucQebSKdUmqV5H?backgroundColor=purple&viewControls=on' frameborder='0' onmousewheel='')
  h4 Resources
  p Beyond official state and county websites, we found these national mail-in voting guides helpful:
  ul 
    li 
      a(href="https://projects.fivethirtyeight.com/how-to-vote-2020") https://projects.fivethirtyeight.com/how-to-vote-2020
    li 
      a(href="https://votesaveamerica.com") https://votesaveamerica.com
  h3 Want to help? Have a correction?
  p 
    | We’re seeking volunteers in each state to help us validate and keep our data up to date. And we certainly want to know if you see something off. Message  
    a(href="https://twitter.com/messages/compose?recipient_id=1289659075601420290") @postyourvote 
    |  on Twitter.
