extends layout

block header
  h1.logo 
    span= title

block content
  .center
    h2 Vote&#160;early, vote&#160;from&#160;home
    p Find out what you need to do to vote by mail in your state, enter your zip code to&#160;get&#160;started. 
    ul#value-props
      li 
        svg.feather.icon-left
          use(xlink:href='/assets/feather-sprite.svg#lock')
        span No personal data
      li 
        svg.feather.icon-left
          use(xlink:href='/assets/feather-sprite.svg#zap')
        span Instant info
    p
      include components/location-input.pug
