extends layout

block header
  h1#logo 
    span Post Your Vote

block content
  .center
    h2 Vote&#160;safely, vote&#160;from&#160;home
    p Enter your zip to find out what you need to&#160;vote&#160;by&#160;mail.
    ul#value-props
      li 
        svg.feather.icon-left
          use(xlink:href='/assets/feather-sprite.svg#lock')
        span No personal data
      li 
        svg.feather.icon-left
          use(xlink:href='/assets/feather-sprite.svg#zap')
        span Clear instant info
    p
      include components/location-input.pug
