extends layout

block append header
  - var flowStep = "location" // location · requirements · reminder · request
  include components/flow-progress.pug

block content
  h2 Request a mail-in ballot
  p It’s easy. We’re here to help because everyone who can vote should, and we care about you. 💌
  ul.value-props
    li No data collection
    li Register with official state sites
    li It’s easy
  p
    h3 What is your home zip code?
    include components/location-input.pug
