extends layout

block content
  h2 Tell us what state you’re in
  h3 You can request your mail-in ballot online!
  p It’s easy. We’re here to help because everyone who can vote should, and we care about you. 💌
  ul.value-props
    li No data collection
    li Register with official state sites
    li It’s easy
  p
    a(href="/change-location")
      h3 Choose a location
