extends layout

block content
  h2 Looks like you’re in #{city}, #{state}
  h3 You can request your mail-in ballot online!
  p It’s easy. We’re here to help because everyone who can vote should, and we care about you. 💌
  ul.value-props
    li No data collection
    li Register with official state sites
    li It’s easy
  p
    a(href="/state-rules")
      h3 Get started
  p
    a(href="/change-location") Change location
