doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // Temporary no index from search engines
    meta(name='robots', content='noindex')
    // Google Analytics - not tracking uniquely identifiable info
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-171025406-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-171025406-1');
  body
      .wrapper
        header
          block header
            h1= title
        section
          block content
        .footer-push
      footer
        block footer
          nav
            ul
              unless path === '/'
                li
                  a(href="/") Home
              li
                a(href="/about/") About
              li
                a(href="/get-voter-registration-status/") Am I registered?
              li
                a(href="/get-mail-in-ballot-status/") Where’s my mail-in ballot?
              li
                a(href="/share/") Share
