doctype html
html
  head
    title #{title} · Post Your Vote
    link(rel='stylesheet', href='/assets/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // LiveReload
    // TODO: Load this conditionally only in dev
    if env == 'development'
      script.
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    // Google Analytics - not tracking uniquely identifiable info
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-171025406-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-171025406-1');
  body
    .wrapper
      header
        block header
          h1= title
      section
        block content
    include components/footer.pug
