extends layout

block header
  h1#logo 
    a(href="/")
      span Post Your Vote

block content
  #region
    h2= name
    p
      small
        a(href="/choose-location/")
          svg.feather.icon-left
            use(xlink:href='/assets/feather-sprite.svg#map-pin')
          span Change location
  
  // TODO - Add the voter journey summary
  //- ol#voter-journey 
  //-   li Request ballot 
  //-   li Get your ballot - a few days after #{moment(stateMailsOutBallots).format('LL')}
  //-   li Mail it back - by #{moment(recommendedBallotReturnDate).format('LL')}
  //-   li Vote in person - 
  
  // Step: Request ballot
  include components/region-step-1-ballot-request.pug
  hr
  // Step: Track ballot
  include components/region-step-2-track-ballot.pug
  hr
  // Step: Vote! by mail
  include components/region-step-3-vote.pug
  hr
  h3 Frequently Asked Questions
  include components/frequently-asked-questions.pug
  // FAQ collapsed
  script(src="/assets/jquery.min.js")
  script.
    var contentAreas = $('#faq .answer').hide();
    $('#faq .question').wrap('<a href="#">');
    $.fx.speeds._default = 50;
    //- var expandLink = $('.accordion-expand-all');
    $('#faq a').click(function() {
      var panel = $(this).next();
      var isOpen = panel.is(':visible');
      // open or close as necessary
      panel[isOpen? 'slideUp': 'slideDown']()
        // trigger the correct custom event
        .trigger(isOpen? 'hide': 'show');
      // stop the link from causing a pagescroll
      return false;
    });
