extends layout

block header
  h1.logo 
    span= title

block content
  h2 Wisconsin
  p 53208 &nbsp;
    a Change location
  h3 I’m a big paragraph that gives you overall stuff you should know about this region.
  section
    h4 Step 1
    include components/region-step-ballot-request.pug
  section 
    h4 Step 2
    include components/region-step-reminders.pug
  section 
    h4 Step 3
    include components/region-step-vote.pug
