ol#progress 
  li#location(class={active: flowStep === 'location'}) Choose location
  li#requirements(class={active: flowStep === 'requirements'}) Local voting rules
  li#reminder(class={active: flowStep === 'reminder'}) Get a reminder
  li#request(class={active: flowStep === 'request'}) Request mail-in ballot
