footer
  block footer
    nav.subtle
      ul 
        each page in ["Home", "About", "Data", "FAQ"]
          - var pagePath = "/"+page.toLowerCase()+"/"
          if pagePath === "/home/"
            - pagePath = "/"
          li
            unless pagePath === path
            a(href=pagePath)
              span=page
