ul#faq
  li
    h4.question Why should I vote by mail?
    p.answer Voting by mail is a safe and easy alternative to voting in person, and it's especially important this election if you have concerns about contracting or spreading COVID-19. Due to the pandemic, many States are making the mail-in voting process easier. If you are thinking of avoiding the lines, staying away from crowds, or  other reasons to vote by mail, we are hoping to make that process clearer for you. 
  li
    h4.question Does VBM increase voter fraud?
    p.answer In short, not really. There have recently been attempts to claim voting by mail will mean your vote is not counted, but an analysis of vote-by-mail in three states by the The Washington Post found that instances of voter fraud in mailed-in ballots represented 0.0025% of votes cast. This is a small fraction difference from in-person voting, and in both cases, it is voter suppression that can make the biggest difference? 
  li
    h4.question What are some common mistakes? 
    p.answer
      p Your mail-in ballot comes with precise instructions you should follow, but there are a few common mistakes to be aware of:
      ul
        li Most states require you to sign the ballot and also the back of the secure envelope. Make sure you do both! 
        li Your signature should match your driver’s licenses or (if you provided) your voter registration. They will compare your ballot to this signature on file to confirm your identity.
        li The return envelope is special. Do not mess with it, tear it, or mishandle it, or it could be dismissed as 'tampered'. (If you tear or lose it, you should call your local election office).
        li There are a few states that require a witness. Most often the witness only needs to sign the empty ballot (for anonymity) and the envelope. We're listing that information and ballot instructions will also make it clear.
  li
    h4.question Absentee ballot vs. mail-in ballot vs vote by mail?
    p.answer These terms generally refer to the same thing: the ability to mail in your ballot. Just know that in some states you have to request an “absentee ballot” to get your ballot in the mail.

li
    h4.question Should I leave my filled-out ballot in my mailbox?
    p.answer Although the postal service will pick up and deliver your ballot direct from your mailbox (🙏 thank you USPS!), since this is an unprecedented election, we do recommend using a Ballot drop-off or dropping your ballot at the local election office if you have the chance.
    
script(src="/assets/jquery.min.js")
script.
  var contentAreas = $('#faq .answer').hide();
  $('#faq .question').wrap('<a href="#">');
  $.fx.speeds._default = 100;
  //- var expandLink = $('.accordion-expand-all');
  $('#faq a').click(function() {
    var panel = $(this).next();
    var isOpen = panel.is(':visible');
    // open or close as necessary
    panel[isOpen? 'slideUp': 'slideDown']()
      // trigger the correct custom event
      .trigger(isOpen? 'hide': 'show');
    // stop the link from causing a pagescroll
    return false;
  });
