form#choose-location(action="/" method="POST")
  fieldset
    // Todo: prefill placeholder if guessed location or if coming from location
    p
      input(name="query" type="number" pattern="[0-9]{5}" placeholder="90210" maxlength="5")#zip
    if error
      p(class="error")= error
  input(type="submit" value="Continue")

script(src="/assets/jquery.min.js")
script.
  if (navigator.geolocation) {
    //browser supports asking location
    console.log("Browser supports asking for location");
    $("form#choose-location fieldset").append("<p id='detect-location'><a href='#'><img src='assets/iconic-svg/location.svg' class='icon' alt='location icon' /> Use current location</a></p>");
    $("p#detect-location a").click(function() {
      navigator.geolocation.getCurrentPosition(position => {
          console.log(position.coords);
      });
    });
  };

//- script(src="/assets/jquery.min.js")
//- script.
//-   $("form#change-location").submit(function(event) {
//-     console.log("form submit", event);
//-     var queryValue = $("input[name=query]").val();
//-     console.log("query value", queryValue);
//-     $.getJSON("/location-query", {"q": queryValue}, function(results) {
//-       console.log("query results", results);
//-       var locationResults = $("#location-results");
//-       locationResults.show();
//-       results.data.forEach(function(loc) {
//-         locationResults.append($("<li><a href=/"+loc.state+">"+loc.name+", "+loc.state+"</a></li>"));
//-       })
//-     });
//-     event.preventDefault();
//-   });
