form#choose-location(action="/choose-location" method="POST")
  fieldset
    if error
      p(class="error") Enter a US zip code. 
        a(href='https://tools.usps.com/go/zip-code-lookup.htm' target='_blank')
          span Help me
          svg.feather.icon-right
            use(xlink:href='/assets/feather-sprite.svg#help-circle')
    // Todo: prefill placeholder if guessed location or if coming from location
    p
      input(name="query" type="number" placeholder="90210" maxlength="5" data-mask="00/00/0000")#zip
  input(type="submit" value="Continue ⭢")

script(src="/assets/jquery.min.js")
script(src="/assets/jquery.mask.min.js")
script.

  // Numbers only input
  $(document).ready(function(){
    $('input#zip').mask("00000");
  });

  if (navigator.geolocation) {
    //browser supports asking location
    console.log("Browser supports asking for location");
    $("form#choose-location fieldset").append("<p id='detect-location'><a href='#'><svg class='feather icon-left'><use xlink:href='/assets/feather-sprite.svg#navigation'></use></svg>Use current location</a></p>");
    $("p#detect-location a").click(function() {
      navigator.geolocation.getCurrentPosition(position => {
          console.log(position.coords);
      });
    });
  };

//- script(src="/assets/jquery.min.js")
//- script.
//-   $("form#change-location").submit(function(event) {
//-     console.log("form submit", event);
//-     var queryValue = $("input[name=query]").val();
//-     console.log("query value", queryValue);
//-     $.getJSON("/location-query", {"q": queryValue}, function(results) {
//-       console.log("query results", results);
//-       var locationResults = $("#location-results");
//-       locationResults.show();
//-       results.data.forEach(function(loc) {
//-         locationResults.append($("<li><a href=/"+loc.state+">"+loc.name+", "+loc.state+"</a></li>"));
//-       })
//-     });
//-     event.preventDefault();
//-   });
