p 
  strong Track your ballot
  br
  span There’s more you can do than just play the waiting game. You can track the status of your ballot directly through the State of Alabama: 
  a(href="#") Track your ballot
  span .
