.step.center
  #calendar
    #cal-page 
      #cal-month 
        != moment(recommendedBallotReturnDate).format('MMM')
      #cal-day 
        != moment(recommendedBallotReturnDate).format('D')
  h3 3. Vote by mail or drop&#160;off&#160;in&#160;person



p 
  span Based on state deadlines and USPS recommendations, you should 
  strong return your completed ballot no later than #{moment(recommendedBallotReturnDate).format('LL')}
  span , preferrably at a Ballot Drop Box or a USPS blue mailbox. 
  span After that date, we recommend dropping it off in person at your local election office, which you can do ahead of voting day. 
  p Mail-in ballots will be counted until the official deadline of #{moment(officialBallotDueDate).format('LL')} but if you are at all unsure about timing, you should plan to vote in person and bring your ballot with you on election day.

.download-cal-events
  p.center
    svg.feather.icon-left
      use(xlink:href='/assets/feather-sprite.svg#calendar')
    strong Remind me to return my ballot
  ul.inline.center
    li 
      a(href=returnBallotGoogleEventUrl, target="_blank")
        svg.feather.icon-left
          use(xlink:href='/assets/feather-sprite.svg#download')
        span Google
    li
      a(href="/"+url+"/reminders/return-ballot.ics")
        svg.feather.icon-left
          use(xlink:href='/assets/feather-sprite.svg#download')
        span Outlook
    li
      a(href="/"+url+"/reminders/return-ballot.ics")
        svg.feather.icon-left
          use(xlink:href='/assets/feather-sprite.svg#download')
        span iCal
