.step.center
  .calendar
    .cal-page 
      .cal-month by 
        != moment(officialBallotDueDate).format('MMM')
      .cal-day 
        != moment(officialBallotDueDate).format('D')
  h3 3. Vote

p 
  strong Mail in your ballot by #{moment(officialBallotDueDate).format('LL')}. 
  span If you haven’t received it, or sent it by this date, we recommend voting safely in person.

p.subtle.center 
  span Calendar reminder
ul.subtle.center 
  li 
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span Google
  li
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span Outlook
  li
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span iCal
