p 
  strong Fill out your ballot 
  br
  span When your ballot arrives, read it carefully and follow the instructions to complete it and return it.
p 
  strong Mail your ballot 
  br
  span When your ballot arrives, read it carefully and follow the instructions to complete it and return it.
