.step.center
  .calendar
    .cal-page 
      .cal-month by 
        != moment(requestedBallotsReceivedByDate).format('MMM') 
      .cal-day 
        != moment(requestedBallotsReceivedByDate).format('D')
  h3 2. Track &amp; receive your ballot

p 

  if automaticallyMailed
    // Automatically mailed
    span If your registration and address are up to date, we estimate 
    strong you should recieve your ballot by #{moment(requestedBallotsReceivedByDate).format('LL')}. 
    span When you get your ballot, fill it out & vote right away! 
  else
    // Had to request
    span If you requested your ballot early in the process, we estimate 
    strong you should recieve your ballot by #{moment(requestedBallotsReceivedByDate).format('LL')}. 
    span When you get your ballot, fill it out & vote right away! 

  if checkVBMStatusUrl
    span You can 
      a(href=checkVBMStatusUrl, target="_external") track your ballot 
      span  here.
  else 
    span You can 
      a(href=countyClerkInfoUrl, target="_external") get in touch with your local election office 
      span  to get your ballot status.

p.subtle.center
  span Calendar reminder
ul.subtle.center 
  li 
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span Google
  li
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span Outlook
  li
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span iCal
