p
  if checkVBMStatusUrl
    span We estimate that by this date you should have received your ballot. If you haven’t, contact your local election office. 
    a(href=checkVBMStatusUrl) Track your ballot
    span .
  else 
    span Unfortunately, in #{name} you cannot track your ballot online.

p.subtle.center 
  svg.feather.icon-left
    use(xlink:href='/assets/feather-sprite.svg#calendar')
  span Add a calendar reminder
ul.subtle.center 
  li 
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span Google
  li
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span Outlook
  li
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span iCal
