p 
  strong Fill out Application
  br
  span When you receive your Application for Absentee Ballot, fill it out and then mail it back to your county registrar. You can also get a head start and 
  a(href="#") download it directly
  span .
p.subtle COVID-19 may be used as a valid reason for requesting a ballot.
