p Fill out your ballot as soon as it arrives. Read it carefully and mail your ballot back as soon as possible.

p.subtle.center 
  svg.feather.icon-left
    use(xlink:href='/assets/feather-sprite.svg#calendar')
  span Add a calendar reminder
ul.subtle.center 
  li 
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span Google
  li
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span Outlook
  li
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span iCal
