#social
  a(href="javascript:void(null);")#share-icon
    svg.feather.icon-left
      use(xlink:href='/assets/feather-sprite.svg#share-2')
    span#share-text Share
  #social-links-open
    ul
      li.small Share page
      li
        a(href="https://twitter.com/intent/tweet?text=Vote+safely%2C+vote+from+home+https%3A%2F%2Fpostyourvote.org+%40postyourvote" target="_share") 
          svg.feather.icon-left
            use(xlink:href='/assets/feather-sprite.svg#twitter')
          span Tweet
      li
        a#copy-url(href="javascript:void(null);" target="_share") 
          svg.feather.icon-left
            use(xlink:href='/assets/feather-sprite.svg#link')
          span Copy link
      li.small Follow
      li
        a.twitter-follow-button(href='https://twitter.com/postyourvote' target="_share")
          svg.feather.icon-left
            use(xlink:href='/assets/feather-sprite.svg#twitter')
          span Twitter
      li
        a.twitter-follow-button(href='https://www.instagram.com/postyour.vote/' target="_share")
          svg.feather.icon-left
            use(xlink:href='/assets/feather-sprite.svg#instagram')
          span Instagram
script(src="/assets/jquery.min.js")
script.
  $("a#share-icon").click(function(){
    $("#social-links-open").toggle(100, function() {
    });
    $("a#share-icon").toggleClass("active");
  });
  $("a#copy-url").click(function(){
    var dummy = document.createElement('input'),
      text = window.location.href;
    document.body.appendChild(dummy);
    dummy.value = text;
    dummy.select();
    document.execCommand('copy');
    document.body.removeChild(dummy);
  });
